<app-card>
  @let details = feature();
  <app-card-header [name]="details.name" [description]="details.description"  />

  <div class="w-full max-w-2xl mx-auto mb-8">
    <app-dropzone [mode]="dropzoneMode()" (filesChanged)="imageFiles.set($event)" />
  </div>

  <form class="flex justify-center sm:flex-row gap-4" id="form" name="form"
    (ngSubmit)="handleGenerate()"
  >
    <button
      type="submit"
      [disabled]="isLoading() || imageFiles().length <= 0"
      class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-indigo-400 disabled:cursor-not-allowed transition duration-200">
      @if (isLoading()) {
        <app-spinner-icon />
        <span>{{ details.loadingText }}</span>
      } @else {
        <span>{{ details.buttonText }}</span>
      }
    </button>
  </form>

  <app-error-display [error]="error()" />

  <app-image-viewer
    [isLoading]="isLoading()"
    [url]="generatedImageUrl()"
    [loadingText]="details.loadingText"
    (downloadImage)="downloadImage()"
    (clearImage)="generatedImageUrl.set('')"
  />
</app-card>
