<app-card>
  <app-card-header [name]="feature.name" [description]="feature.description"  />

  <div class="w-full max-w-2xl mx-auto">
    <app-visual-story-form
      [isLoading]="isLoading()"
      [(promptArgs)]="promptArgs"
      (generate)="handleGenerate()"
    >
      <span loading-text>{{ feature.loadingText }}</span>
      <span button-text>{{ feature.buttonText }}</span>
    </app-visual-story-form>

    <app-prompt-history
      [history]="promptHistory()"
      (promptSelected)="handleVisualStoryArgs($event)"
      (historyCleared)="onClearHistory()"
    />
  </div>

  <app-error-display [error]="error()" />

  <app-gen-media
    class="block mb-2"
    [loadingText]="feature.loadingText"
    [genMediaInput]="genMediaInput()"
    #genmedia
  >
    <p class="text-sm">Your generated {{ promptArgs().args.type}} will appear here. Please be patient.</p>
  </app-gen-media>

  @if (canGenerateVideoFromFirstLastFrames()) {
    <button
      type="button"
      (click)="generateVideoFromFrames()"
      class="px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-indigo-400 disabled:cursor-not-allowed transition duration-200">
        First and last frames to video
    </button>

    @if (isLoadingFromFrames()) {
      <app-loader />
    } @else if (videoUrlFromFrames()) {
      <app-video-player class="block" [videoUrl]="videoUrlFromFrames()" />
    }
  }
</app-card>
