<app-card>
  <app-card-header [name]="feature.name" [description]="feature.description"  />

  <app-visual-story-form
    [isLoading]="isLoading()"
    (generate)="handleGenerate($event)"
  >
    <span loading-text>{{ feature.loadingText }}</span>
    <span button-text>{{ feature.buttonText }}</span>
  </app-visual-story-form>

  <app-error-display [error]="error()" />

  <!-- <app-image-viewer class="block mt-4"
    [isLoading]="isLoading()"
    [url]="generatedImage()?.inlineData || ''"
    [loadingText]="details.loadingText"
    (imageAction)="handleAction($event)"
  />

  <app-video-player
    style="width: 512px; height: 512px"
    [isGeneratingVideo]="isGeneratingVideo()"
    [videoUrl]="videoUrl()"
  /> -->
</app-card>
