  <app-card>
    @let details = feature();
    <app-card-header [name]="details.name" [description]="details.description"  />

    @if (featureNeedsImage()) {
      <div class="w-full max-w-2xl mx-auto mb-8">
        <app-dropzone [mode]="dropzoneMode()" (filesChanged)="imageFiles.set($event)" />
      </div>
    }

    <div class="w-full max-w-2xl mx-auto">
      <app-prompt-form
        [(prompt)]="prompt"
        [additionalDisabled]="!hasImageFiles()"
        (generate)="handleGenerate()"
      >
        <span button-text>{{ details.buttonText }}</span>
        <span loading-text>{{ details.loadingText }}</span>
      </app-prompt-form>

      <app-prompt-history
          [history]="promptHistory()"
          (promptSelected)=" prompt.set($event)"
          (historyCleared)="onClearHistory()"
      />
    </div>

    <app-error-display [error]="error()" />

    <app-image-viewer
      [isLoading]="isLoading()"
      [url]="generatedImage()?.inlineData || ''"
      [loadingText]="details.loadingText"
      (imageAction)="handleAction($event)"
    />

    <app-video-player
      style="width: 512px; height: 512px"
      [isGeneratingVideo]="isGeneratingVideo()"
      [videoUrl]="videoUrl()"
    />
  </app-card>
