<form  id="form" name="form"
  class="flex flex-col sm:flex-row gap-4 px-4" [formRoot]="visualStoryForm"
>
  <div class="flex-grow">
    <textarea
      id="promptHistory"
      [formField]="visualStoryForm.userPrompt"
      [rows]="4"
      [placeholder]="placeholderText()"
      (keydown)="onEnterPress($event)"
      class="w-full bg-gray-700 text-gray-200 border border-gray-600 rounded-md p-3 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 resize-y placeholder-gray-400">
    </textarea>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div class="flex text-left">
        <label for="image-count" class="mr-[0.5rem] text-[1.1rem]">Image count</label>
        <select id="image-count" [formField]="$any(visualStoryForm.numberOfImages)" class="ai-dropdown">
          @for (count of numOfImagesList; track count) {
            <option [value]="count">{{ count }}</option>
          }
        </select>
      </div>
      <div class="flex text-left">
        <label for="type" class="mr-[0.5rem] text-[1.1rem]">Type</label>
        <select id="type" [formField]="visualStoryForm.type" class="ai-dropdown">
          @for (type of types; track type) {
            <option [value]="type">{{ type }}</option>
          }
        </select>
      </div>
      <div class="flex text-left">
        <label for="style" class="mr-[0.5rem] text-[1.1rem]">Style</label>
        <select id="style" [formField]="visualStoryForm.style" class="ai-dropdown">
          @for (style of styleList; track style) {
            <option [value]="style">{{ style }}</option>
          }
        </select>
      </div>
      <div class="flex text-left">
        <label for="transition" class="mr-[0.5rem] text-[1.1rem]">Transition</label>
        <select id="transition" [formField]="visualStoryForm.transition" class="ai-dropdown">
          @for (transition of transitionList; track transition) {
            <option [value]="transition">{{ transition }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <div>
    <button
      type="button"
      [disabled]="isGenerationDisabled()"
      (click)="onGenerateClick($event)"
      class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-indigo-400 disabled:cursor-not-allowed transition duration-200">
    @if (isLoading()) {
      <app-spinner-icon />&nbsp;&nbsp;
      <ng-content select="[loading-text]">Generating...</ng-content>
    } @else {
      <ng-content select="[button-text]" />
    }
    </button>
  </div>
</form>
