rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if resource.name.matches('.*\\.mp4');
      allow write: if request.resource.name.matches('.*\\.mp4')
                   && request.resource.contentType == 'video/mp4';
    }
  }
}
